extends layout

block content
  - let items = results
  h1= title
  .container-fluid 
    .row 
      each cin in items
        div(class="col-sm-2" style=`background-color:black;color: yellow;font-family: "papyrus";border: 5px solid green;border-radius: 18px; padding: 12px; border-inline-style: solid; box-shadow: 8px 9px 8px rgba(0, 0, 0, 0.5)` onclick=`buy(${items.indexOf(cin)})`) 
          p.
           state_name -  #{cin.state_name}
          p.
           state_population -  #{cin.state_population}
          p.
           state_language  -  #{cin.state_language}
  script.
    function buy(index){
      alert("You purchased item "+index)
    }