extends layout

block content
  - let items = results
  h1= title
  .container-fluid 
    .row 
      each cin in items
        div(class="col-sm-2" style=`border:solid 1px brown` onclick=`buy(${items.indexOf(cin)})`) 
          p.
           state_name -  #{cin.state_name}
          p.
           state_population -  #{cin.state_population}
          p.
           state_language  -  #{cin.state_language}
  script.
    function buy(index){
      alert("You purchased item "+index)
    }