extends layout

block content
  - let country = results
  h1= title
  div(class="container-fluid")
  div(class="row m-1")
    each india in country
      - let destination = `dispatch(\"/india/update?id=${india._id}\")`
      div(class="row-sm-2", class="m-1") India #{india.state_name}(#{india.state_population}) is #{india.state_language                                 } 
        button.btn( class="btn-primary ml-1", onclick= destination) Update

  script.
    function dispatch(path){
      window.location.href=path
    }